name: ci
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-10.15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2.3.4
        name: Checkout
      - uses: cachix/install-nix-action@v12
        name: Install Nix
        with:
          nix_path: nixpkgs=./nix/pkgs.nix
          # "experimental-features" must include "nix-command" for nix 2.4+
          # issue: https://github.com/NixOS/nix/issues/3753
          extra_nix_config: experimental-features = nix-command
      - uses: cachix/cachix-action@v8
        name: Set up Cachix
        with:
          name: awakesecurity
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix-build --attr spectacle
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        name: Checkout
      - uses: cachix/install-nix-action@v12
        name: Install Nix
        with:
          nix_path: nixpkgs=./nix/pkgs.nix
          extra_nix_config: experimental-features = nix-command
      - uses: cachix/cachix-action@v8
        name: Set up Cachix
        with:
          name: awakesecurity
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: ./scripts/fourmolu --mode check $(find ./src -name '*.hs')
      - run: ./scripts/fourmolu --mode check $(find ./test -name '*.hs')
